div.delivery_panel {
            font-family: Arial;
            font-size: 12px;
            color: #000000;
            text-align: center;
            height:auto;
            display:inline-block;
            padding-bottom:0px;
        }
        div.delivery_panel_dialog {
            font-family: Arial;
            font-size: 12px;
            color: #000000;
            background-color: #f2f2f2;
            text-align: center;
            height:auto;
            padding:22px;
        }
        div.delivery_child_panel {
            border-width: 2px;
            border-color: #E9E9E9;
            border-top-style: solid;
            border-bottom-style: solid;
            background-color: #f2f2f2;
        }
        input.delivery_text_box {
            border-color: #C8CDD5;
            background-color: #ffffff;
            padding: 8px;
            margin: 8px;
            width: 230px;
            font-family: Arial;
            font-size: 13px;
            border-style: solid;
            height: auto;
            border-width: 1px;
            border-radius: 5px;
            display: block;
            color: #656565;
        }

        input.delivery_text_box_main {
            border-color: #C8CDD5;
            background-color: #ffffff;
            padding: 14px;
            margin: 14px;
            width: 218px;
            font-family: Arial;
            font-size: 13px;
            border-style: solid;
            height: auto;
            border-width: 1px;
            border-radius: 7px;
            display: block;
        }
        a.delivery_button_main {
            text-decoration: none;
            border-radius: 6px;
            padding: 14px;
            margin: 14px;
            color: #221B00;
            font-family: Arial;
            font-size: 14px;
            font-weight: bold;
            display: block;
            background-color: #faca0a;
        }

        input.delivery_text_box_main_horizontal {
            border-color: #C8CDD5;
            background-color: #ffffff;
            padding: 14px;
            margin: 11px;
            width: 210px;
            font-family: Arial;
            font-size: 13px;
            border-style: solid;
            height: auto;
            border-width: 1px;
            border-radius: 7px;
            display: block;
        }
        a.delivery_button_main_horizontal {
            text-decoration: none;
            background-color: #faca0a;
            border-radius: 6px;
            width: 180px;
            margin: 11px;
            color: #221B00;
            font-family: Arial;
            font-size: 15px;
            font-weight: bold;
            display: block;
            padding: 14px;
        }

        a.delivery_button {
            text-decoration: none;
            background-color: #faca0a;
            padding: 8px;
            margin: 0px;
            color: black;
            font-family: Arial;
            font-size: 12px;
            height:auto;
            line-height: 0px;
        }
        div.delivery_label_title {
            font-family: Arial;
            font-size: 15px;
            border-top-style: solid;
            border-color: #FACA0A;
            border-width: 3px;
            padding-top: 22px;
            padding-bottom: 22px;
            height: auto;
            color: #333639;
            background-color: #f2f2f2;
        }
        div.delivery_label_title_horizontal
        {
            float: left;
            margin: 16px;
            text-align: left;
        }
        div.delivery_label_title_logo
        {
            font-family: Arial;
            font-size: 20px;
            border-top-style: solid;
            border-color: #FACA0A;
            border-width: 3px;
            padding-top: 8px;
            padding-bottom: 11px;
            height: auto;
            color: #333639;
            background-color: #FACA0A;
        }
        img.delivery_logo_horizontal {
            float: left;
            margin: 9px;
        }

        div.delivery_sub_title
        {
            font-family: Arial;
            font-size: 14px;
            padding-top: 14px;
            font-weight: bold;
        }

        a.delivery_link {
            display: block;
            color: #232323;
            text-decoration: none;
            font-size: 13px;
            font-family: Arial;
            margin: 11px;
        }
        a.delivery_link_footer {
            display: block;
            color: #232323;
            text-decoration: none;
            font-size: 15px;
            font-family: Arial;
            margin: 7px;
            float: right;
            margin-right: 20px;
        }

        div.delivery_label {
            font-family: Arial;
            font-size: 13px;
            padding: 4px;
            margin: 7px;
            height:auto;
        }

        div.delivery_loader {
            color: #000000;
            font-size: 18px;
            position: relative;
            top: -110px;
            visibility: hidden;
            line-height: 0px;
        }

        hr.delivery_hr {
            background-color:#E9E9E9;
            height:2px;
            border:none;
        }

        .dialog_header {
            background:none;
            border:none;
            background-color: #faca0a;
            height:auto;
        }

        .disable {
            position: relative;
        }

        .disable:after {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.1);
            content: "";
        }

        div.delivery_cell {
            display: table-cell;
            font-family: Arial;
            font-size: 13px;
            padding: 12px;
            margin: 7px;
            height: auto;
            border-bottom: 1px solid #ABABAB;
        }

        div.delivery_header {
            display: table-cell;
            font-family: Arial;
            font-size: 13px;
            padding: 14px;
            margin: 7px;
            height: auto;
            background-color: #faca0a;
            text-align: center;
            font-weight: bold;
            border-bottom: 4px solid #ABABAB;
        }

        a.paging_disable {
            text-decoration: none;
            background-color: #ABABAB;
            padding: 8px;
            margin: 7px;
            color: black;
            font-family: Arial;
            font-size: 12px;
            height: auto;
            line-height: 0px;
        }

        a.paging_active {
            text-decoration: none;
            background-color: #faca0a;
            padding: 8px;
            margin: 7px;
            color: black;
            font-family: Arial;
            font-size: 12px;
            height:auto;
            line-height: 0px;
        }
        div.padding_panel{
            margin-top: 26px;
            margin-bottom: 6px;
        }

        div.delivery_dialog{
            position:absolute;
            top:0px;
            left:0px;
        }
        div.delivery_dialog_title{
            height: auto;
            width: 100%;
            min-height: 20px;
            background-color: #faca0a;
            display: inline-block;
            float: left;
            cursor:move;
            clear: both;
        }

        div.delivery_dialog_title_text {
            float: left;
            padding: 9px;
            margin: 5px;
            height: auto;
            cursor: inherit;
            font-weight: bold;
            font-family: Arial;
            font-size: 14px;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        a.delivery_dialog_close_button {
                float: right;
                padding: 3px;
                margin: 9px;
                height: auto;
                cursor: pointer;
                color: #ffffff;
                background-color: #ff0000;
                text-decoration: none;
                font-weight: bold;
                font-family: Tahoma;
                width: 20px;
                text-align: center;
        }

        div.hot_line {
            float:right;
            clear:both;
            font-size:10px;
        }
		div.hot_line_phone {
            float:right;
            clear:both;
            font-size:18px;
        }
		div.hot_line_comment{
            float:right;
            clear:both;
            font-size:7px;
        }

        div.delivery_map{
            border: 2px;
            border-style: solid;
            border-color: #fdcc09;
        }

        div.delivery_warehouse_title{
            text-align: center;
            border: 2px;
            border-color: #FACA0A;
            border-bottom-style: solid;
            font-weight: bold;
            padding: 6px;
            font-family:Arial;
        }

        a.info_button{
            display: block;
            font-size: 15px;
            text-align: center;
            box-sizing: border-box;
            padding: 8px;
            text-decoration: none;
            background-color: #faca0a;
            color: #000000;
            font-family: Arial;
            margin-top: 5px;
        }

        div.delivery_label_map {
            font-family: Arial;
            font-size: 13px;
            padding: 4px;
            margin: 0px; 
            height: auto;
        }

        img.logo_map {
            background-color: #FDC608;
            position: relative;
            line-height:0px;
            top: 9px;
            z-index: 1000;
            padding: 6px;
            border: 1px;
            border-color: #C5AB53;
            border-bottom-style: solid;
            top: 21px;
        }
img.delivery_logo {
    background-image: url("http://www.delivery-api.com/Images/del_logo.png");
    width: 220px;
    height: 47px;
    background-repeat: no-repeat;
}