div.delivery_panel { font-family: Arial; font-size: 12px; color: rgb(0, 0, 0); text-align: center; height: auto; display: inline-block; padding-bottom: 0px; }div.delivery_panel_dialog { font-family: Arial; font-size: 12px; color: rgb(0, 0, 0); text-align: center; height: auto; padding: 22px; background-color: rgb(242, 242, 242); }div.delivery_child_panel { border-width: 2px; border-color: rgb(255, 255, 255); border-top-style: solid; border-bottom-style: solid; background-color: rgb(54, 106, 146); }input.delivery_text_box { border: 1px solid rgb(200, 205, 213); padding: 8px; margin: 8px; width: 230px; font-family: Arial; font-size: 13px; height: auto; border-radius: 5px; display: block; color: rgb(101, 101, 101); background-color: rgb(255, 255, 255); }input.delivery_text_box_main { border: 1px solid rgb(200, 205, 213); padding: 14px; margin: 14px; width: 218px; font-family: Arial; font-size: 13px; height: auto; border-radius: 7px; display: block; background-color: rgb(255, 255, 255); }a.delivery_button_main { text-decoration: none; border-radius: 6px; padding: 14px; margin: 14px; color: rgb(34, 27, 0); font-family: Arial; font-size: 14px; font-weight: bold; display: block; background-color: rgb(250, 202, 10); }input.delivery_text_box_main_horizontal { border: 1px solid rgb(200, 205, 213); padding: 14px; margin: 11px; width: 210px; font-family: Arial; font-size: 13px; height: auto; border-radius: 7px; display: block; background-color: rgb(255, 255, 255); }a.delivery_button_main_horizontal { text-decoration: none; border-radius: 6px; width: 180px; margin: 11px; color: rgb(34, 27, 0); font-family: Arial; font-size: 15px; font-weight: bold; display: block; padding: 14px; background-color: rgb(250, 202, 10); }a.delivery_button { text-decoration: none; padding: 8px; margin: 0px; color: rgb(255, 255, 255); font-family: Arial; font-size: 12px; height: auto; line-height: 0px; background-color: rgb(54, 106, 146); }div.delivery_label_title { font-family: Arial; font-size: 15px; border-top-style: solid; border-color: rgb(250, 202, 10); border-width: 3px; padding-top: 22px; padding-bottom: 22px; height: auto; color: rgb(255, 255, 255); background-color: rgb(54, 106, 146); }div.delivery_label_title_horizontal { float: left; margin: 16px; text-align: left; }div.delivery_label_title_logo { font-family: Arial; font-size: 20px; border-top-style: solid; border-color: rgb(250, 202, 10); border-width: 3px; padding-top: 8px; padding-bottom: 11px; height: auto; color: rgb(51, 54, 57); background-color: rgb(54, 106, 146); }img.delivery_logo_horizontal { float: left; margin: 9px; }div.delivery_sub_title { color:white; font-family: Arial; font-size: 14px; padding-top: 14px; font-weight: bold; }a.delivery_link { display: block; color: rgb(255, 255, 255); text-decoration: none; font-size: 13px; font-family: Arial; margin: 11px; }a.delivery_link_footer { display: block; color: rgb(255, 255, 255); text-decoration: none; font-size: 15px; font-family: Arial; margin: 7px 20px 7px 7px; float: right; }div.delivery_label { font-family: Arial; font-size: 13px; padding: 4px; margin: 7px; height: auto; }div.delivery_loader { color: rgb(0, 0, 0); font-size: 18px; position: relative; top: -110px; visibility: hidden; line-height: 0px; }hr.delivery_hr { height: 2px; border: none; background-color: rgb(233, 233, 233); }.dialog_header { border: none; height: auto; background: none rgb(250, 202, 10); }.disable { position: relative; }.disable::after { position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; content: ''; background-color: rgba(0, 0, 0, 0.0980392); }div.delivery_cell { display: table-cell; font-family: Arial; font-size: 13px; padding: 12px; margin: 7px; height: auto; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(171, 171, 171); }div.delivery_header { color: white; display: table-cell; font-family: Arial; font-size: 13px; padding: 14px; margin: 7px; height: auto; text-align: center; font-weight: bold; border-bottom-width: 4px; border-bottom-style: solid; border-bottom-color: rgb(171, 171, 171); background-color: rgb(54, 106, 146); }a.paging_disable { text-decoration: none; padding: 8px; margin: 7px; color: rgb(255, 255, 255); font-family: Arial; font-size: 12px; height: auto; line-height: 0px; background-color: rgb(171, 171, 171); }a.paging_active { text-decoration: none; padding: 8px; margin: 7px; color: rgb(255, 255, 255); font-family: Arial; font-size: 12px; height: auto; line-height: 0px; background-color: rgb(54, 106, 146); }div.padding_panel { margin-top: 26px; margin-bottom: 6px; }div.delivery_dialog { position: absolute; top: 0px; left: 0px; }div.delivery_dialog_title { height: auto; width: 100%; min-height: 20px; display: inline-block; float: left; cursor: move; clear: both; background-color: rgb(54, 106, 146); }div.delivery_dialog_title_text { color:white; float: left; padding: 9px; margin: 5px; height: auto; cursor: inherit; font-weight: bold; font-family: Arial; font-size: 14px; -webkit-user-select: none; background-color: rgb(54, 106, 146); }a.delivery_dialog_close_button { float: right; padding: 3px; margin: 9px; height: auto; cursor: pointer; color: rgb(255, 255, 255); text-decoration: none; font-weight: bold; font-family: Tahoma; width: 20px; text-align: center; background-color: rgb(255, 0, 0); }div.hot_line { float: right; clear: both; font-size: 10px; }div.hot_line_phone { float: right; clear: both; font-size: 18px; }div.hot_line_comment { float: right; clear: both; font-size: 7px; }div.delivery_map { border: 2px solid rgb(51, 99, 141); }div.delivery_warehouse_title { text-align: center; border-width: 2px; border-color: rgb(250, 202, 10); border-bottom-style: solid; font-weight: bold; padding: 6px; font-family: Arial; }a.info_button { display: block; font-size: 15px; text-align: center; box-sizing: border-box; padding: 8px; text-decoration: none; color: rgb(0, 0, 0); font-family: Arial; margin-top: 5px; background-color: rgb(250, 202, 10); }div.delivery_label_map { font-family: Arial; font-size: 13px; padding: 4px; margin: 0px; height: auto; }img.logo_map { position: relative;
    line-height: 0px;
    z-index: 1000;
    padding: 6px;
    border-width: 1px;
    border-color: rgb(35, 72, 101);
    border-bottom-style: solid;
    top: 21px;
    background-color: rgb(54, 106, 146); } img.delivery_logo {
    background-image: url("http://www.delivery-api.com/Images/int_logo_w.png");
    width: 220px;
    height: 47px;
    background-repeat: no-repeat;
}

                                           select.delivery_drop_down {
            border-color: #C8CDD5;
            background-color: #ffffff;
            padding: 6px;
            margin: 8px;
            width: 230px;
            font-family: Arial;
            font-size: 13px;
            border-style: solid;
            height: auto;
            border-width: 1px;
            border-radius: 5px;
            display: block;
            color: #656565;
        }
        div.delivery_accordion {
            background-color: #C8CDD5;
            padding: 8px;
            font-size: 13px;
            font-family: Arial;
            border: 1px;
            border-color: #8E9298;
            border-bottom-style: solid;
            margin:8px;
            margin-top:1px;
            margin-bottom:0px;
        }
        input.delivery_text_box_du_count {
            display: table-cell;
            border-color: #C8CDD5;
            background-color: #ffffff;
            padding: 3px;
            margin: 4px;
            width: 50px;
            font-family: Arial;
            font-size: 13px;
            border-style: solid;
            height: auto;
            border-width: 1px;
            border-radius: 5px;
            color: #656565;
        }
        a.delivery_button_calculator {
            text-decoration: none;
            background-color: #FACA0A;
            padding: 8px;
            margin: 8px;
            color: black;
            font-family: Arial;
            font-size: 12px;
            height: auto;
            line-height: 0px;
            cursor: pointer;
        }
        div.delivery_du_panel{
            margin:9px;
            margin-top:2px;
            margin-bottom:2px;
        }
        div.delivery_eg_panel {
            float: left;
            clear: both;
            border: 2px;
            border-top-style: solid;
            width: 100%;
            border-color: #FACA0A;
        }
        .delivery-form .ng-invalid.ng-touched {
            outline: none;
            border-color: #FD2828;
            box-shadow: 0 0 5px 2px #FD2828;
        }

        input.delivery_checkbox{
            float: left;
            margin: 11px;
        }

        div.delivery_message {
            border-width: 2px;
            border-color: #E9E9E9;
            border-top-style: solid;
            border-bottom-style: solid;
            background-color: #f2f2f2;
            width: 300px;
            float: left;
            clear: both;
            text-align: left;
            display: none;
            padding: 15px;
        }
        input.delivery_text_box_calc {
            border-color: #C8CDD5;
            background-color: #ffffff;
            padding: 6px;
            margin: 8px;
            width: 230px;
            font-family: Arial;
            font-size: 13px;
            border-style: solid;
            height: auto;
            border-width: 1px;
            border-radius: 5px;
            display: block;
            color: #656565;
            box-sizing: border-box;
        }

        .ng-scope > form > div> div > div {
            color:white;
        }




.tooltip { /* стиль текста, наведя или нажав на который появится пояснение */
  display: inline-block;
  position: relative;
}
.tooltip > span {
    position: absolute;
    bottom: 100%;
    width: -moz-max-content;
    width: -webkit-max-content;
    width: max-content;
    max-width: 20em;
    max-height: 80vh;
    overflow: auto;
    visibility: hidden; 
    margin: 0 auto .4em;
    padding: 0.3em;
    border: 2px solid rgb(123, 123, 123);
    background-color: #7B7B7B;
    color: white;
    font-size: 13px;
    line-height: normal;
    cursor: auto;
    border-radius: 7px;
    font-family:Arial;
}
.tooltip > input.ng-touched:focus + span,
.tooltip > select.ng-touched:focus + span,
.tooltip > input.ng-touched:hover + span,
.tooltip > select.ng-touched:hover + span {
  visibility: visible;
  transition: 0s .4s;
}
.tooltip:focus { /* убрать рамку в Хроме */
  outline: none;
}
div.delivery_calculator_result_message {
    font-weight: bold;
    color: red;
    float: left;
    clear: both;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    margin-top: 0px;
    font-family: Arial;
    font-size: 14px;
    padding: 4px;
    margin: 7px;
    height: auto;
}